# Exclude virtual environment files
.venv/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude temporary files
*.tmp
*.log

# Exclude build artifacts
build/
dist/

# Exclude IDE-specific files
*.idea/
*.vscode/

# Exclude Git files
.git/
.gitignore

# Exclude Docker-related files
Dockerfile
.dockerignore
